/*Globals */
:root{
    --light-periwinkle: rgb(194, 200, 218);
    --outer-space-crayola: rgb(59, 67, 68);
    --tyrian-purple: rgb(104, 4, 5);
    --dark-violet: rgb(148, 5, 219);
    --ao-english: rgb(0, 129, 28);
    --yellow-green-color-wheel: rgb(12, 168, 23);
    --tiffany-blue: rgb(47, 189, 185);
    --persian-indigo: rgb(38, 4, 124);
    --alice-blue: rgb(232, 238, 242);
    --dark-white: rgb(237, 220, 242);
    --barbie-pink: rgb(219, 29, 132);
}
/*Universal Styles*/ 
body{
    background-color: var(--outer-space-crayola);
    margin: 0;
}
h1 {
    color: var(--barbie-pink);
    font-family: 'Grenze Gotisch', cursive;
    font-weight: 500;
    font-size: 4rem;
    text-align: center;
    margin-top: 0;
}
a{
    text-decoration: none !important;
}
i:hover{
    color: var(--barbie-pink);
}
a>button{
    color: var(--outer-space-crayola);
}
button{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: var(--outer-space-crayola);
    border: 2px solid var(--barbie-pink);
    border-radius: 5%;
    margin: 6rem 1rem;
    padding: 1rem;
    background-color: var(--alice-blue);
}
button:hover{
    background-color: var(--dark-white);
}
/*header*/
header{
    background-color: var(--light-periwinkle);
    border-bottom: 2px solid var(--dark-violet);
    font-size: 2em;
    text-align: center;
}
p{
    color: var(--outer-space-crayola);
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0 2rem;
}
#enter, #game-area, #result{
   background-color: var(--light-periwinkle); 
   border: 5px solid var(--dark-violet);
   max-width: 80%;
   margin: auto ;
   margin-top: 2rem;
   margin-bottom: 2rem;
}
/*Index*/
img{
    max-width: 250px;
    margin: 25px 18px;
}
#enter>button{
    margin:  2% 40% 5%;
}
/*Quiz*/
#question-box, #score-area{
    max-width: fit-content;
    border: 1px solid var(--outer-space-crayola);
    background-color: var(--alice-blue);
}
#number, #score{
    font-family: 'PT Serif', serif;
    color: var(--barbie-pink);
}
#question-box, #score-area{
    margin: 10px auto;
}
#game-area{
    background: var(--light-periwinkle);
    border: 2px solid var(--dark-violet);
    max-width: 80%;
    margin: auto;
    margin-top: 5%;
}
#question{
    font-family: 'PT Serif', serif;
    text-align: center;
    color:var(--barbie-pink);
}
.answer , #next-question{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    border: 2px solid var(--persian-indigo);
    border-radius: 20%;
    background-color: var(--alice-blue);
    padding: 10px 16px;
    display: block;
    margin: 10px auto;
}
#next-question{
    border: 2px solid var(--barbie-pink);
}
#next-question:hover{
    background-color: var(--dark-white);
}
/*Correct answer area*/
#correct-zone{
    background-color: var(--alice-blue);
    border: solid 2px var(--yellow-green-color-wheel);
    max-width: 80%;
    margin: auto; 
    text-align: center;
}
#correct-answer{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-bottom: 1px solid var(--yellow-green-color-wheel);
}
/*Results page*/
#title , #result-text{
    margin: 0 2rem;
}
#buttons>button{
    display: inline;
    margin: 1rem 6rem;
}
h2{
    font-family: 'PT Serif', serif;
    text-align: center;
    text-decoration: underline solid var(--barbie-pink);
}
#result-text{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
/*Media Query - 400px */
@media screen and (min-width: 400px) {
    img{
        margin-left: 25%;
    }
    /*Questions page*/
    #question-box , #score-area{
        position: absolute;
        top: 50.75px;
    }
    #question-box {
        left:15%;
    }
    #score-area{
        right:15%;
    }
    #question{
        margin-top: 50px;
    }
}
/*Media Query - 500 px */
@media only screen and (min-width: 500px){
    /*Results page*/
    #buttons{
        margin-left: 15%;
    }
    #buttons>button{
        margin: 16px 30px 16px 40px;
    }
}
/*Media Query - 900px*/
@media only screen and (min-width: 900px){
    /*Index*/
    img{
        margin-left: 35%;
    }
    /*Quiz page*/
    #question-box{
        top: 8%;
    }
    #score-area{
        top: 8%;
    }
    /*Results page*/
    #buttons{
        margin-left: 25%;
    }
}
/** Media Query - 1400px*/
@media only screen and (min-width:1400px){
    img{
        margin-left: 40%;
    }
    #question-box , #score-area{
        top:12%;
    }
    /*Results page*/
    #buttons{
        margin-left: 35%;
    }
}