/*Globals */
:root{
   --black : rgb(47, 47, 47);
   --purple: rgb(164, 57, 183);
   --green : rgb(47, 231, 59);
   --blue : rgb(52,192,208);
   --pink : rgb(250,141,242);
   --red : rgb(172, 21, 21);
   --white : rgb(250, 245, 245);
   --grey : rgb(187, 184, 184);
}
body{
    background-color: var(--black);
    margin: 0;
}
h1 {
    color: var(--red);
    font-family: 'Grenze Gotisch', cursive;
    font-weight: 500;
    font-size: 4rem;
    text-align: center;
}
/*header*/
header{
    background-color: var(--grey);
    border-bottom: 2px solid var(--purple);
}

p{
    color: var(--black);
    
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0 2rem;
}
/*Index*/
#enter{
   background-color: var(--grey); 
   border: 5px solid var(--purple);
   border-radius: 1%;
   max-width: 80%;
   margin: auto auto ;
}
img{
    max-width: 250px;
}
